*,
*::after,
*::before {
  box-sizing: border-box;
}

.sponsors-game-wrapper {
  width: fit-content;
  position: relative;
  margin: 25px auto;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

canvas {
  border: 1px solid black;
  background-image: url('../img/floor.png');
  background-size: 15px;
  background-position: center center;
}

/* modal css */
.modal-overlay {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0, 0, .7);
  visibility: hidden;
  opacity: 0;
  --color-primary: #9b5efb;
}
.modal {
  
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  max-width: 750px;
  
  display: grid;
  grid-template-rows: 18% 82%;
  background-color: #fff;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  border-radius: 20px;
  overflow: hidden;
  z-index: 5;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.5s;

}

.modal-overlay.active {
  visibility: visible;
  opacity: 1;
}

.modal-overlay.active .modal {
  transform: translate(-50%, -50%) scale(1);
}

/* The  (or content) of the device */
.modal__header {
  background-color: var(--color-primary);
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.modal__header img {
  height: 100%;
}
.modal__title {
  letter-spacing: 1px;
  grid-column: span 2;
  padding: 0 15px;
  margin: 0 0 10px; ;
  font-size: 1rem;
}
.modal__content {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 15px 25px;
}
.modal__description {
  text-align: justify;
  font-size: 0.75rem;
}
.modal__column{
  overflow-y: auto;
  height: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal__video {
  display: flex;
  background-color: lightgray;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.7);
}

.modal iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
.modal__link {
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  color: #4c3dfa;
  font-size: 0.8rem;
}
.modal__link:hover {
  color: #9b5efb;
}
.modal__button {
  display: block;
  margin: 0 auto 10px;
  padding: 5px 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to right, #4c3dfa, #9b5efb);
  white-space: nowrap;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.modal__footer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  font-size: 0.8rem;
}

/* width */
.modal ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modal ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: lightgray;
}

/* Handle */
.modal ::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

/* Handle on hover */
.modal ::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

/* *********************************** */
/* MENU STYLES */
/* *********************************** */
.menu {
  position: absolute;
  background-color: #201c1c;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px 15px;
  width: 100%;
}
.menu__button {
  background-color: #50d752;
  border: none;
  padding: 10px;
  text-align: center;
  width: 75%;
  color: #fff;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.menu__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  min-width: 250px;
}
.menu__center .player-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.menu__center .player {
  --size: 55px;
  --scale: 1.5;
  height: calc(var(--size) * var(--scale));
  width: calc(var(--size) * var(--scale));
  padding: 10px 0;
  background-size: calc(var(--size) * var(--scale) * 3);
  cursor: pointer;
}
.menu__center .player.selected {
  box-shadow: 0 0 10px #6e6e6e;
  border-radius: 10px;
}
.menu__center .player--male {
  background-image: url('../img/players/male.png');
}
.menu__center .player--female {
  background-image: url('../img/players/female.png');
}
.menu__sponsors {
  height: 100px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.menu__sponsors img {
  max-width: 175px;
  max-height: 100px;
}
.hidden {
  display: none;
}